In [1]:
import pandas as pd
df=pd.read_csv('nse_all_stock_data.csv')
df.head()

,Date,RELIANCE,TCS,HDFCBANK,ICICIBANK,BHARTIARTL,SBIN,INFY,LICI,ITC,...,COOLCAPS,ALLETEC,20MICRONS,VIKASECO,ORIENTBELL,DONEAR,CAREERP,INTLCONV,SHREEPUSHK,PRITIKAUTO
0,1991-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1991-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1991-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1991-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1991-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
l = {}

for i in df.columns:
    if i != 'Date':
        l[i]= df[i].mean() # mean of each column except Date column

In [3]:
# create a list of columns with null values >8000
null_cols = []
for i in df.columns:
    if df[i].isnull().sum() > 8000:
        null_cols.append(i)

print(null_cols)

['JIOFIN', 'ADANIENSOL', 'MANKIND', 'JSWINFRA', 'TATATECH', 'L&TFH', 'IREDA', 'MEDANTA', 'LLOYDSME', 'FIVESTAR', 'SIGNATURE', 'JYOTICNC', 'KAYNES', 'KPIL', 'RRKABEL', 'PPLPHARMA', 'NUVAMA', 'CELLO', 'NSLNISP', 'CONCORDBIO', 'HONASA', 'PVRINOX', 'ARE&M', 'BIKAJI', 'JUNIPER', 'INOXINDIA', 'KFINTECH', 'PTCIL', 'DOMS', 'REDTAPE', 'NETWEB', 'SBFC', 'HAPPYFORGE', 'SYRMA', 'ACI', 'AZAD', 'JLHL', 'TMB', 'EMIL', 'RUSTOMJEE', 'NIITMTS', 'TVSSCS', 'INDIASHLTR', 'BLUEJET', 'LTFOODS', 'SENCO', 'SANDUMA', 'UJJIVAN', 'CYIENTDLM', 'ASKAUTOLTD', 'LLOYDSENGG', 'HNDFDS', 'UTKARSHBNK', 'FUSION', 'SULA', 'SAMHI', 'KIRLPNU', 'EPIGRAL', 'GOPAL', 'SINDHUTRAD', 'ENTERO', 'JSFB', 'FEDFINA', 'PARKHOTELS', 'MAXESTATES', 'AARTIPHARM', 'HARSHA', 'YATHARTH', 'ZAGGLE', 'MEDIASSIST', 'INOXGREEN', 'MUTHOOTMF', 'GENSOL', 'DCXINDIA', 'AVALON', 'KALAMANDIR', 'LANDMARK', 'IDEAFORGE', 'SUNCLAY', 'BLSE', 'ESAFSFB', 'FLAIR', 'DREAMFOLKS', 'INNOVACAP', 'HMAAGRO', 'BAJEL', 'SPECTRUM', 'EXICOM', 'UNIPARTS', 'DIVGIITTS', 'YATRA', 'EMSLIMITED', 'NPST', 'IKIO', 'UDS', 'JSLL', 'RPTECH', 'MUFIN', 'SIGNPOST', 'GANDHAR', 'IRMENERGY', 'VPRPL', 'SCILAL', 'YASHO', 'PVSL', 'RISHABH', 'MOTISONS', 'CAPITALSFB', 'AEROFLEX', 'SADHNANIQ', 'SBGLP', 'EPACK', 'GPTHEALTH', 'ORIANA', 'RKSWAMY', 'AHL', 'ATL', 'GIRIRAJ', 'SKYGOLD', 'MVGJL', 'BETA', 'SAURASHCEM', 'SURAJEST', 'SICALLOG', 'TREL', 'PAKKA', 'INNOVANA', 'MUKKA', 'MUFTI', 'KRYSTAL', 'SPORTKING', 'KOTYARK', 'KAMOPAINTS', 'SYNCOMF', 'REMUS', 'BLAL', 'SATINDLTD', 'GSLSU', 'PLATIND', 'AMNPLST', 'NINSYS', 'OWAIS', 'TRACXN', 'FAZE3Q', 'BASILIC', 'ALPEXSOLAR', 'RADIANTCMS', 'DENTALKART', 'DBOL', 'DHARMAJ', 'VINYAS', 'TRU', 'GHCLTEXTIL', 'DAVANGERE', 'GRMOVER', 'SUKHJITS', 'EMKAYTOOLS', 'SAHANA', 'JGCHEM', 'ANNAPURNA', 'ELIN', 'SOLEX', 'VALIANTLAB', 'PHANTOMFX', 'KODYTECH', 'RBZJEWEL', 'ORIENTCER', 'KRISHIVAL', 'RATNAVEER', 'VISHNUINFR', 'VLEGOV', 'RACE', 'PYRAMID', 'ACCENTMIC', 'COOLCAPS', 'ALLETEC']

In [4]:
# create a new df with columns not in null_cols
df2 = df.drop(columns=null_cols)

# fill the remaining null values with the mean of the column not with date column
df2.fillna(l, inplace=True)
df2

,Date,RELIANCE,TCS,HDFCBANK,ICICIBANK,BHARTIARTL,SBIN,INFY,LICI,ITC,...,MAZDA,MINDTECK,20MICRONS,VIKASECO,ORIENTBELL,DONEAR,CAREERP,INTLCONV,SHREEPUSHK,PRITIKAUTO
0,1991-01-02,605.661551,1221.558660,437.622147,296.793689,359.974920,188.679499,429.695286,726.020834,133.909118,...,563.316218,92.740286,46.816379,4.378091,173.385619,49.874282,155.291620,71.400780,171.467658,20.554881
1,1991-01-03,605.661551,1221.558660,437.622147,296.793689,359.974920,188.679499,429.695286,726.020834,133.909118,...,563.316218,92.740286,46.816379,4.378091,173.385619,49.874282,155.291620,71.400780,171.467658,20.554881
2,1991-01-04,605.661551,1221.558660,437.622147,296.793689,359.974920,188.679499,429.695286,726.020834,133.909118,...,563.316218,92.740286,46.816379,4.378091,173.385619,49.874282,155.291620,71.400780,171.467658,20.554881
3,1991-01-07,605.661551,1221.558660,437.622147,296.793689,359.974920,188.679499,429.695286,726.020834,133.909118,...,563.316218,92.740286,46.816379,4.378091,173.385619,49.874282,155.291620,71.400780,171.467658,20.554881
4,1991-01-08,605.661551,1221.558660,437.622147,296.793689,359.974920,188.679499,429.695286,726.020834,133.909118,...,563.316218,92.740286,46.816379,4.378091,173.385619,49.874282,155.291620,71.400780,171.467658,20.554881
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8465,2024-07-01,3120.300049,3978.199951,1705.199951,1211.849976,1454.000000,841.950012,1590.800049,996.349976,429.049988,...,1434.300049,313.850006,220.410004,3.900000,402.799988,134.960007,384.850006,82.779999,211.089996,27.440001
8466,2024-07-02,3130.350098,4017.399902,1730.599976,1190.599976,1418.949951,826.150024,1621.050049,985.450012,425.500000,...,1449.849976,305.649994,216.110001,3.870000,409.799988,130.729996,396.700012,83.349998,211.740005,27.770000
8467,2024-07-03,3104.850098,3965.250000,1768.650024,1201.599976,1419.849976,839.950012,1627.400024,988.200012,428.299988,...,1432.449951,325.399994,227.800003,3.870000,429.350006,132.220001,394.200012,83.269997,225.880005,27.700001
8468,2024-07-04,3108.050049,4020.949951,1727.150024,1233.000000,1423.050049,839.299988,1650.650024,1010.200012,429.049988,...,1422.050049,338.950012,227.429993,4.040000,428.750000,131.360001,388.250000,82.980003,223.800003,27.580000
8469,2024-07-05,3177.250000,4011.800049,1648.099976,1233.400024,1429.699951,859.750000,1647.449951,1015.650024,433.649994,...,1420.750000,328.350006,224.720001,3.980000,421.350006,130.440002,388.799988,84.099998,241.740005,27.910000

In [5]:
#  write code for info of the each column in df2
for i in df2.columns:
    print(df2[i].info()) # info of each column in df2

<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: Date
Non-Null Count  Dtype
--------------  -----
8470 non-null   object
dtypes: object(1)
memory usage: 66.3+ KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: RELIANCE
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: TCS
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: HDFCBANK
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: ICICIBANK
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: BHARTIARTL
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: SBIN
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: INFY
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: LICI
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: ITC
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: HINDUNILVR
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: LT
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: BAJFINANCE
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: HCLTECH
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: MARUTI
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: SUNPHARMA
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: ADANIENT
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: KOTAKBANK
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: TITAN
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: ONGC
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: TATAMOTORS
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: NTPC
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: AXISBANK
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: DMART
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: ADANIGREEN
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: ADANIPORTS
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: ULTRACEMCO
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: ASIANPAINT
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: COALINDIA
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: BAJAJFINSV
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: BAJAJ-AUTO
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: POWERGRID
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: NESTLEIND
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: WIPRO
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: M&M
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: IOC
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: HAL
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: DLF
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: ADANIPOWER
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: JSWSTEEL
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: TATASTEEL
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: SIEMENS
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: IRFC
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: VBL
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: ZOMATO
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: PIDILITIND
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: GRASIM
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: SBILIFE
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: BEL
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: LTIM
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: TRENT
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: PNB
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: INDIGO
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: BANKBARODA
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: HDFCLIFE
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: ABB
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: BPCL
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: PFC
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: GODREJCP
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: TATAPOWER
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: HINDALCO
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: HINDZINC
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: TECHM
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: AMBUJACEM
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: INDUSINDBK
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: CIPLA
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: GAIL
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: RECLTD
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: BRITANNIA
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: UNIONBANK
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: IOB
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: LODHA
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: EICHERMOT
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: CANBK
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: TATACONSUM
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: DRREDDY
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: TVSMOTOR
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: ZYDUSLIFE
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: ATGL
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: VEDL
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: CHOLAFIN
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: HAVELLS
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: HEROMOTOCO
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: DABUR
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: SHREECEM
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: BAJAJHLDNG
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: DIVISLAB
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: APOLLOHOSP
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: NHPC
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: SHRIRAMFIN
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: BOSCHLTD
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: TORNTPHARM
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: ICICIPRULI
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: IDBI
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: JSWENERGY
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: JINDALSTEL
Non-Null Count  Dtype
--------------  -----
8470 non-null   float64
dtypes: float64(1)
memory usage: 66.3 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 8470 entries, 0 to 8469
Series name: BHEL
Non-Null Count  Dtype
--------------  -----

In [8]:
# Perform basic statistical analysis on the stock prices and volumes
for i in df2.columns:
    print(df2[i].describe()) # describe of each column in df

count           8470
unique          8470
top       1991-01-02
freq               1
Name: Date, dtype: object
count    8470.000000
mean      605.661551
std       687.533972
min        10.975116
25%        68.142830
50%       443.062775
75%       605.661551
max      3177.250000
Name: RELIANCE, dtype: float64
count    8470.000000
mean     1221.558660
std       938.477755
min        35.474998
25%       527.012512
50%      1221.558660
75%      1236.475037
max      4219.250000
Name: TCS, dtype: float64
count    8470.000000
mean      437.622147
std       486.047663
min         2.435000
25%        36.157499
50%       294.087509
75%       535.462479
max      1768.650024
Name: HDFCBANK, dtype: float64
count    8470.000000
mean      296.793689
std       213.289896
min        20.100000
25%       171.468182
50%       296.793689
75%       296.793689
max      1233.400024
Name: ICICIBANK, dtype: float64
count    8470.000000
mean      359.974920
std       193.966114
min         9.350544
25%       295.578590
50%       359.974920
75%       359.974920
max      1475.800049
Name: BHARTIARTL, dtype: float64
count    8470.000000
mean      188.679499
std       155.485714
min        13.346102
25%        43.955097
50%       188.679499
75%       253.587505
max       905.650024
Name: SBIN, dtype: float64
count    8470.000000
mean      429.695286
std       430.230612
min         0.763183
25%       113.641209
50%       358.118744
75%       496.924988
max      1939.500000
Name: INFY, dtype: float64
count    8470.000000
mean      726.020834
std        37.695587
min       531.849976
25%       726.020834
50%       726.020834
75%       726.020834
max      1105.250000
Name: LICI, dtype: float64
count    8470.000000
mean      133.909118
std       111.558351
min         4.182222
25%        22.924722
50%       133.909118
75%       216.283337
max       492.149994
Name: ITC, dtype: float64
count    8470.000000
mean      755.943850
std       753.876716
min        61.805000
25%       207.762501
50%       455.875000
75%       851.274994
max      2812.449951
Name: HINDUNILVR, dtype: float64
count    8470.000000
mean      929.053315
std       590.924205
min        34.955555
25%       666.147217
50%       929.053315
75%       974.841675
max      3897.149902
Name: LT, dtype: float64
count    8470.000000
mean     1623.847675
std      1969.211817
min         4.064124
25%        60.857421
50%      1623.847675
75%      1623.847675
max      8168.549805
Name: BAJFINANCE, dtype: float64
count    8470.000000
mean      378.917284
std       316.767004
min        14.862500
25%       102.865627
50%       378.917284
75%       415.234383
max      1686.400024
Name: HCLTECH, dtype: float64
count     8470.000000
mean      3842.243039
std       2661.727293
min        164.300003
25%       1377.299988
50%       3842.243039
75%       4113.862549
max      13000.450195
Name: MARUTI, dtype: float64
count    8470.000000
mean      332.854408
std       335.930574
min         1.533692
25%        29.570054
50%       331.662506
75%       519.587524
max      1629.250000
Name: SUNPHARMA, dtype: float64
count    8470.000000
mean      408.642446
std       700.643546
min         0.919650
25%        41.546082
50%       147.550003
75%       408.642446
max      4165.299805
Name: ADANIENT, dtype: float64
count    8470.000000
mean      646.698692
std       546.131643
min         1.365000
25%       196.171871
50%       646.698692
75%       689.900024
max      2210.949951
Name: KOTAKBANK, dtype: float64
count    8470.000000
mean      511.806120
std       789.060123
min         1.375000
25%         6.185000
50%       227.966248
75%       511.806120
max      3866.649902
Name: TITAN, dtype: float64
count    8470.000000
mean      122.476599
std        66.874942
min        10.988888
25%        70.520834
50%       122.476599
75%       173.525005
max       310.433319
Name: ONGC, dtype: float64
count    8470.000000
mean      186.421847
std       187.149375
min        11.267879
25%        47.545947
50%       103.841476
75%       290.847130
max      1046.650024
Name: TATAMOTORS, dtype: float64
count    8470.000000
mean      138.690819
std        35.382882
min        61.291664
25%       127.635416
50%       138.690819
75%       138.690819
max       391.799988
Name: NTPC, dtype: float64
count    8470.000000
mean      319.486540
std       263.893218
min         2.470000
25%        88.277498
50%       319.486540
75%       463.275002
max      1288.949951
Name: AXISBANK, dtype: float64
count    8470.000000
mean     2675.908136
std       578.257872
min       614.400024
25%      2675.908136
50%      2675.908136
75%      2675.908136
max      5323.750000
Name: DMART, dtype: float64
count    8470.000000
mean      952.194772
std       320.681081
min        25.200001
25%       952.194772
50%       952.194772
75%       952.194772
max      2970.500000
Name: ADANIGREEN, dtype: float64
count    8470.000000
mean      360.366443
std       196.365487
min        51.590000
25%       304.600006
50%       360.366443
75%       360.366443
max      1583.949951
Name: ADANIPORTS, dtype: float64
count     8470.000000
mean      2813.617987
std       2013.217964
min        255.550003
25%       1099.700012
50%       2813.617987
75%       3008.337585
max      11904.650391
Name: ULTRACEMCO, dtype: float64
count    8470.000000
mean      933.431482
std       846.695067
min        20.773001
25%       264.856255
50%       933.431482
75%       933.431482
max      3576.300049
Name: ASIANPAINT, dtype: float64
count    8470.000000
mean      278.322461
std        52.154751
min       110.550003
25%       278.322461
50%       278.322461
75%       278.322461
max       512.349976
Name: COALINDIA, dtype: float64
count    8470.000000
mean      794.052374
std       637.935410
min         8.915852
25%       319.771255
50%       794.052374
75%       831.074982
max      3269.250000
Name: BAJAJFINSV, dtype: float64
count    8470.000000
mean     2008.848081
std      1339.846162
min        91.525002
25%      1359.174957
50%      2008.848081
75%      2453.225037
max      9961.750000
Name: BAJAJ-AUTO, dtype: float64
count    8470.000000
mean       99.586386
std        35.907337
min        32.625008
25%        85.921898
50%        99.586386
75%        99.586386
max       339.399994
Name: POWERGRID, dtype: float64
count    8470.000000
mean      865.545815
std       478.170095
min       248.934998
25%       527.049988
50%       865.545815
75%       865.545815
max      2737.239990
Name: NESTLEIND, dtype: float64
count    8470.000000
mean      165.179630
std       130.741914
min         0.767500
25%        70.988911
50%       163.368790
75%       205.143799
max       721.500000
Name: WIPRO, dtype: float64
count    8470.000000
mean      394.124618
std       399.105970
min         6.475000
25%        55.465626
50%       389.625000
75%       599.187485
max      2961.899902
Name: M&M, dtype: float64
count    8470.000000
mean       51.220388
std        32.525074
min         6.183333
25%        32.099999
50%        51.220388
75%        62.712501
max       202.125000
Name: IOC, dtype: float64
count    8470.000000
mean     1004.895845
std       430.579689
min       239.625000
25%      1004.895845
50%      1004.895845
75%      1004.895845
max      5552.000000
Name: HAL, dtype: float64
count    8470.000000
mean      291.723574
std       134.311153
min        81.300003
25%       222.300003
50%       291.723574
75%       291.723574
max      1207.500000
Name: DLF, dtype: float64
count    8470.000000
mean      107.551922
std        85.676959
min        15.450000
25%        63.612499
50%       107.551922
75%       107.551922
max       874.500000
Name: ADANIPOWER, dtype: float64
count    8470.000000
mean      212.625523
std       187.380853
min        10.400000
25%        87.527500
50%       212.625523
75%       212.625523
max       954.049988
Name: JSWSTEEL, dtype: float64
count    8470.000000
mean       41.776805
std        32.311454
min         3.775751
25%        18.011486
50%        41.125093
75%        49.240217
max       183.149994
Name: TATASTEEL, dtype: float64
count    8470.000000
mean      949.683145
std       932.517203
min        17.500000
25%       464.937508
50%       949.683145
75%      1035.137512
max      7885.549805
Name: SIEMENS, dtype: float64
count    8470.000000
mean       49.668111
std        14.792808
min        19.500000
25%        49.668111
50%        49.668111
75%        49.668111
max       188.949997
Name: IRFC, dtype: float64
count    8470.000000
mean      355.701473
std       180.205062
min        51.599998
25%       355.701473
50%       355.701473
75%       355.701473
max      1639.449951
Name: VBL, dtype: float64
count    8470.000000
mean      101.982332
std        12.865719
min        41.650002
25%       101.982332
50%       101.982332
75%       101.982332
max       209.089996
Name: ZOMATO, dtype: float64
count    8470.000000
mean      707.004423
std       695.610741
min         1.500500
25%       142.262501
50%       707.004423
75%       707.004423
max      3175.399902
Name: PIDILITIND, dtype: float64
count    8470.000000
mean      663.294160
std       430.406443
min        43.590622
25%       401.596916
50%       663.294160
75%       663.294160
max      2748.000000
Name: GRASIM, dtype: float64
count    8470.000000
mean      981.307225
std       122.177709
min       511.600006
25%       981.307225
50%       981.307225
75%       981.307225
max      1552.550049
Name: SBILIFE, dtype: float64
count    8470.000000
mean       34.273217
std        33.969423
min         1.441414
25%        14.939141
50%        34.273217
75%        34.273217
max       324.049988
Name: BEL, dtype: float64
count    8470.000000
mean     3039.784647
std       915.053637
min       600.500000
25%      3039.784647
50%      3039.784647
75%      3039.784647
max      7561.750000
Name: LTIM, dtype: float64
count    8470.000000
mean      398.368165
std       596.679522
min         9.969256
25%        88.791250
50%       398.368165
75%       398.368165
max      5619.899902
Name: TRENT, dtype: float64
count    8470.000000
mean      104.561088
std        47.462110
min         8.090000
25%        80.082500
50%       104.561088
75%       113.942497
max       277.079987
Name: PNB, dtype: float64
count    8470.000000
mean     1602.152086
std       352.822362
min       719.700012
25%      1602.152086
50%      1602.152086
75%      1602.152086
max      4566.600098
Name: INDIGO, dtype: float64
count    8470.000000
mean      109.725274
std        48.262557
min         8.780000
25%        84.107502
50%       109.725274
75%       136.917503
max       296.950012
Name: BANKBARODA, dtype: float64
count    8470.000000
mean      557.140312
std        43.222551
min       342.299988
25%       557.140312
50%       557.140312
75%       557.140312
max       759.000000
Name: HDFCLIFE, dtype: float64
count    8470.000000
mean     1091.686467
std       989.518306
min         7.809400
25%       705.111176
50%      1091.686467
75%      1091.686467
max      9020.000000
Name: ABB, dtype: float64
count    8470.000000
mean       86.268025
std        75.614183
min         5.604166
25%        26.262501
50%        57.862499
75%       146.466663
max       333.075012
Name: BPCL, dtype: float64
count    8470.000000
mean      101.960371
std        49.560049
min        36.259998
25%        88.865000
50%       101.960371
75%       101.960371
max       554.799988
Name: PFC, dtype: float64
count    8470.000000
mean      369.680686
std       282.608407
min         7.393333
25%       127.433334
50%       369.680686
75%       419.550011
max      1429.199951
Name: GODREJCP, dtype: float64
count    8470.000000
mean       77.176196
std        68.581208
min         4.313626
25%        25.628444
50%        77.176196
75%        90.900002
max       457.850006
Name: TATAPOWER, dtype: float64
count    8470.000000
mean      161.612980
std       116.009283
min        33.450253
25%        83.276659
50%       144.940994
75%       173.682667
max       705.299988
Name: HINDALCO, dtype: float64
count    8470.000000
mean      153.465873
std        95.917630
min         1.490000
25%       117.349998
50%       153.465873
75%       168.050003
max       772.299988
Name: HINDZINC, dtype: float64
count    8470.000000
mean      560.122643
std       276.199293
min        52.325001
25%       463.775002
50%       560.122643
75%       560.122643
max      1806.099976
Name: TECHM, dtype: float64
count    8470.000000
mean      192.292096
std       103.697915
min         6.345333
25%       140.337502
50%       192.292096
75%       207.600006
max       695.000000
Name: AMBUJACEM, dtype: float64
count    8470.000000
mean      618.416840
std       466.143681
min        13.600000
25%       240.375004
50%       618.416840
75%       828.149994
max      2023.050049
Name: INDUSINDBK, dtype: float64
count    8470.000000
mean      368.546082
std       306.789368
min         4.716800
25%        98.791002
50%       363.449997
75%       524.087479
max      1574.800049
Name: CIPLA, dtype: float64
count    8470.000000
mean       58.238856
std        35.945083
min         5.437502
25%        29.262514
50%        58.238856
75%        80.436487
max       230.800003
Name: GAIL, dtype: float64
count    8470.000000
mean      109.053327
std        55.213922
min        20.531250
25%        96.074997
50%       109.053327
75%       109.053327
max       604.500000
Name: RECLTD, dtype: float64
count    8470.000000
mean     1071.185997
std      1375.310586
min         9.466666
25%        80.723333
50%       249.324997
75%      1411.806274
max      5546.799805
Name: BRITANNIA, dtype: float64
count    8470.000000
mean      132.861966
std        65.471321
min        14.750000
25%       104.699997
50%       132.861966
75%       141.600006
max       417.899994
Name: UNIONBANK, dtype: float64
count    8470.000000
mean       57.269272
std        33.758082
min         6.700000
25%        28.412500
50%        57.269272
75%        65.137501
max       217.100006
Name: IOB, dtype: float64
count    8470.000000
mean      663.530881
std        85.516926
min       232.625000
25%       663.530881
50%       663.530881
75%       663.530881
max      1594.800049
Name: LODHA, dtype: float64
count    8470.000000
mean      907.722827
std      1145.096104
min         0.750000
25%        19.941250
50%       222.114998
75%      1701.358734
max      4936.100098
Name: EICHERMOT, dtype: float64
count    8470.000000
mean       55.934040
std        20.349532
min         9.026236
25%        45.919033
50%        55.934040
75%        56.596586
max       239.399994
Name: CANBK, dtype: float64
count    8470.000000
mean      191.822707
std       235.539175
min        11.860000
25%        44.278751
50%       120.650002
75%       191.822707
max      1261.550049
Name: TATACONSUM, dtype: float64
count    8470.000000
mean     1765.039679
std      1524.172453
min        38.849998
25%       451.515625
50%      1734.575012
75%      2602.962524
max      6520.000000
Name: DRREDDY, dtype: float64
count    8470.000000
mean      294.079869
std       363.697343
min         3.762500
25%        39.950001
50%       294.079869
75%       294.079869
max      2503.850098
Name: TVSMOTOR, dtype: float64
count    8470.000000
mean      218.662650
std       173.203816
min        10.367662
25%        64.049635
50%       218.662650
75%       308.544998
max      1162.449951
Name: ZYDUSLIFE, dtype: float64
count    8470.000000
mean     1010.062160
std       417.940894
min        75.599998
25%      1010.062160
50%      1010.062160
75%      1010.062160
max      3918.899902
Name: ATGL, dtype: float64
count    8470.000000
mean      136.057779
std       112.350904
min         0.945000
25%        10.713125
50%       136.057779
75%       207.474998
max       491.700012
Name: VEDL, dtype: float64
count    8470.000000
mean      206.193460
std       240.844154
min         4.370000
25%        34.980000
50%       206.193460
75%       206.193460
max      1454.150024
Name: CHOLAFIN, dtype: float64
count    8470.000000
mean      374.938088
std       364.379091
min         1.284000
25%        71.714998
50%       374.938088
75%       374.938088
max      1918.300049
Name: HAVELLS, dtype: float64
count    8470.000000
mean     1977.826413
std       909.545827
min       183.199997
25%      1741.887543
50%      1977.826413
75%      2507.337585
max      5816.000000
Name: HEROMOTOCO, dtype: float64
count    8470.000000
mean      226.516139
std       159.405386
min         5.940000
25%        98.750000
50%       226.516139
75%       272.075005
max       653.950012
Name: DABUR, dtype: float64
count     8470.000000
mean      9153.763462
std       7985.432649
min         24.100000
25%       1647.962524
50%       9153.763462
75%      11304.512695
max      31748.750000
Name: SHREECEM, dtype: float64
count    8470.000000
mean     2230.827466
std      1538.266614
min       213.399994
25%      1051.837524
50%      2230.827466
75%      2261.287415
max      9902.900391
Name: BAJAJHLDNG, dtype: float64
count    8470.000000
mean     1197.122231
std      1076.478467
min         8.550000
25%       385.181244
50%      1197.122231
75%      1197.122231
max      5372.149902
Name: DIVISLAB, dtype: float64
count    8470.000000
mean     1307.123407
std      1249.144080
min        46.275002
25%       467.250000
50%      1307.123407
75%      1307.123407
max      6774.049805
Name: APOLLOHOSP, dtype: float64
count    8470.000000
mean       28.773328
std         9.372115
min        15.050000
25%        26.299999
50%        28.773328
75%        28.773328
max       113.150002
Name: NHPC, dtype: float64
count    8470.000000
mean      719.044323
std       446.350388
min        10.230707
25%       543.896088
50%       719.044323
75%       868.392151
max      2989.850098
Name: SHRIRAMFIN, dtype: float64
count     8470.000000
mean     10815.152426
std       6361.566822
min        281.000000
25%       6180.900024
50%      10815.152426
75%      14102.574951
max      35276.398438
Name: BOSCHLTD, dtype: float64
count    8470.000000
mean      550.045818
std       507.149365
min         9.825000
25%       139.028122
50%       550.045818
75%       636.612488
max      2893.500000
Name: TORNTPHARM, dtype: float64
count    8470.000000
mean      459.494079
std        44.201833
min       238.800003
25%       459.494079
50%       459.494079
75%       459.494079
max       717.150024
Name: ICICIPRULI, dtype: float64
count    8470.000000
mean       65.022720
std        31.099969
min        14.000000
25%        43.162501
50%        65.022720
75%        78.300003
max       198.550003
Name: IDBI, dtype: float64
count    8470.000000
mean      130.244775
std        80.879588
min        35.000000
25%        81.500000
50%       130.244775
75%       130.244775
max       750.200012
Name: JSWENERGY, dtype: float64
count    8470.000000
mean      240.488718
std       201.169186
min         1.921666
25%        74.333752
50%       240.488718
75%       290.100006
max      1077.699951
Name: JINDALSTEL, dtype: float64
count    8470.000000
mean      101.222287
std        84.471617
min         5.133333
25%        28.662500
50%        92.183331
75%       139.822502
max       382.693329
Name: BHEL, dtype: float64
count    8470.000000
mean      117.831969
std        83.535393
min        12.713963
25%        79.144646
50%       117.831969
75%       117.831969
max       659.750000
Name: INDHOTEL, dtype: float64
count    8470.000000
mean      603.393013
std       451.055991
min        32.642857
25%       395.937492
50%       603.393013
75%       637.012482
max      4134.000000
Name: CUMMINSIND, dtype: float64
count    8470.000000
mean     1213.362207
std       120.452553
min       666.200012
25%      1213.362207
50%      1213.362207
75%      1213.362207
max      1865.050049
Name: ICICIGI, dtype: float64
count    8470.000000
mean       78.483518
std        87.603997
min         0.149610
25%        40.434613
50%        78.483518
75%        78.483518
max       772.200012
Name: CGPOWER, dtype: float64
count    8470.000000
mean      407.920134
std       237.761687

In [13]:
# now we have to perform eda on the data

# 1. check for null values
print(df2.isnull().sum())

Date          0
RELIANCE      0
TCS           0
HDFCBANK      0
ICICIBANK     0
             ..
DONEAR        0
CAREERP       0
INTLCONV      0
SHREEPUSHK    0
PRITIKAUTO    0
Length: 1242, dtype: int64
0

In [14]:
# 2. check for duplicate values
print(df2.duplicated().sum())


# 3. check for outliers
import seaborn as sns
import matplotlib.pyplot as plt
for i in df2.columns:
    sns.boxplot(df2[i])
    plt.show()

0

In [15]:
# is there any way to check outlier in the data without visualization